[user]
	name = Ethan Edwards
	email = ethan@ethancedwards.com
	signingKey = "2E51 F618 39D1 FA94 7A73 00C2 34C0 4305 D581 DBFE"
[commit]
	gpgSign = true
[tag]
    gpgSign = true
[core]
	editor = nvim
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
; [sendemail]
; 	smtpServer = smtp.gmail.com
; 	smtpServerPort = 587
; 	smtpEncryption = TSL
; 	smtpUser = ethancarteredwards@gmail.com
[color]
	ui = auto
[pull]
	rebase = false
