[user]
	name = Ethan Edwards
	email = ethan@ethancedwards.com
	signingKey = "0E69 0F46 3457 D812 3387  C978 F93D DAFA 26EF 2458"
[commit]
	gpgSign = true
[core]
	editor = nvim
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
; [sendemail]
; 	smtpServer = smtp.gmail.com
; 	smtpServerPort = 587
; 	smtpEncryption = TSL
; 	smtpUser = ethancarteredwards@gmail.com
[color]
	ui = auto
[pull]
	rebase = false
